%p
  #{sanitize_name(@user['name'])} 您好！
%p
  - if Gitlab::CurrentSettings.allow_signup?
    你的账号创建成功。
  - else
    管理员创建了你的账号。现在你已是 GitLab 应用的成员。
%p
  账号..........................................
  %code= @user['email']

- if @user.created_by_id
  %p
    = link_to "点击这里设置你的密码", edit_password_url(@user, reset_password_token: @token)
  %p
    This link is valid for #{password_reset_token_valid_time}.
    After it expires, you can #{link_to("request a new one", new_user_password_url(user_email: @user.email))}.
